.record {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .record {
    padding: 5px;
    height: fit-content;
  }
}

@media (max-width: 412px) {
  .record {
    font-size: 1.6rem;
  }
}