.landBoard {
  width: 80%;
  background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, 150px);
}

@media (max-width: 768px) {
  .landBoard {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .landBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}