.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  height: 90%;
  width: 90%;
  padding: 1rem;
}

.ball p {
  font-size: 2rem;
  font-weight: bold;
}

.marked {
  background-color: var(--primary-color);
}