.links {
  display: flex;
  gap: var(--spacing);
}

.links > li {
  width: fit-content;
}

.auth-btn {
  height: 100%;
  font-size: 1.1rem;
  color: white;
  padding: 2px 4px;
}

.auth-btn:hover {
  cursor: pointer;
}

.active {
  border-bottom: 1px solid var(--secondary-color);
}